/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2019, 10:09:35
    Author     : daw2
*/

body{
    background-color: #d4d4d4;    
}
header h1{
    text-align: center;
    font-family: 'Germania One', cursive;    
}
.contenedorBusqueda{
    text-align: center;
}
#tablaMuestra{
    text-align: center;    
}
#tablaMuestra thead{
    background-color: #ec4f4f;
}
#tablaMuestra tbody{
    background-color: #4ac4e7; 
    color: white;
}