/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2019, 11:51:18
    Author     : daw2
*/

body{
    background-color: #d4d4d4;    
}
header h1{
    text-align: center;
    font-family: 'Germania One', cursive;    
}
.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
footer{   
    position: absolute;
    width: 100%;
    bottom: 0px;   
    
}
